.footer {
    background-color: black;
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 Columns */
    gap: 20px;
  }
  
  .footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .footer-brand .pro {
    color: red;
    text-decoration: underline;
  }
  
  .footer-brand .ultimate {
    color: white;
  }
  
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section img {
    width: 120px;
    margin-bottom: 10px;
  }
  
  .footer-section p,
  .footer-section ul {
    color: gray;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .footer-section ul li:hover {
    color: red;
  }
  
  .footer-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .footer-icons svg {
    font-size: 20px;
    cursor: pointer;
  }
  
  .footer-icons svg:hover {
    color: red;
  }
  
  .footer-bottom {
    border-top: 1px solid #222;
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    font-size: 13px;
    color: #777;
  }
  
  .footer-brand {
    font-size: 16px;
    font-weight: bold;
  }
  
  .red-text {
    color: red;
  }
  
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
      grid-template-columns: 1fr; /* Single column for small screens */
      text-align: center;
      align-items: center;
    }
    .footer-section {
      align-items: center;
    }
  }
  